body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.container{
    background-color:rgb(123, 123, 249);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
   margin-bottom: 40px;
}
.left-section{
    display: flex;
    flex-direction: row;
}
.header{
    margin-left: 20px;
    font-weight: bold;
}
.right-section{
    display: flex;
    flex-direction: row;
    
}
.text{
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
}